.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100vw;
  color: #FFFFFF;
  position: fixed;
  top: 0;
}

.navbar-title {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  text-decoration: solid;
  font-size: 4em;
  padding: 1.5rem;
  font-weight: 800;
  height: auto;
}