.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  max-height: 50vh;
}

.text-input {
  background-color: #4b4453;
  padding: 5px 20px;
  margin-bottom: 38px;
  border-radius: 100% 0% 100% 0% / 6% 90% 10% 94%;
}
