// See: https://sass-lang.com/
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  // background-image: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
  background-image: url(https://i.imgur.com/om4H2EY.png);
  background-size: cover;
}

header {
  display: flex;
  height: 15vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  height: 5vh;
}